@model PawellsMusicEditor.Models.SoundTrack

@{
    ViewBag.Title = "MusicEditor";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="large-12 columns">
    <div class="panel mano player">
        @foreach (var songs in ViewBag.Songs)
        {
            <audio class="playsong" data-songtitle="@songs.SoundTrackName" src="@Url.Content("~/Content/Songs/" + @songs.SoundTrackName)"></audio>
        }
        <div class="row">
            <div class="large-5 columns">
                <h5 class="songtitle">Song title</h5>

                <ul class="button-group">
                    <li><a href="#" class="button small play"><i class="fa fa-play"></i></a></li>
                    <li><a href="#" class="button small pause"><i class="fa fa-pause"></i></a></li>
                    <li><a href="#" class="button small stop"><i class="fa fa-stop"></i></a></li>
                    <li><a href="#" class="button small previous"><i class="fa fa-step-backward"></i></a></li>
                    <li><a href="#" class="button small next"><i class="fa fa-step-forward"></i></a></li>
                </ul>

                <div id="currentTime">00:00</div>
                <div id="currentTimeSlider"></div>
                <div>
                    @foreach (var songs in ViewBag.Songs)
                    {
                        <div>@songs.SoundTrackName<</div><br />
                    }
                </div>
            </div>
            <div class="large-1 columns">
                <i class="fa fa-volume-up"></i>
                <div id="volume"> </div>
                <i class="fa fa-volume-down"></i>
            </div>
            <div class="large-3 columns">
            </div>
            <div class="large-3 columns">
                @using (Html.BeginForm("Index", "MusicEditor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="Failas" value="File" />
                    <input type="submit" name="submit" value="Upload" />
                }
            </div>
        </div>
        </div>
    </div>
