@{
    ViewBag.Title = "MusicEditor";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="white-background">
    <div class="toolbar">
        <div class="player">

            <audio class="playsong" data-songtitle="Eyes On Fire" src="@Url.Content("~/Songs/EyesOnFire.mp3")"></audio>
            <audio class="playsong" data-songtitle="Behind Blue Eyes" src="@Url.Content("~/Songs/BehindBlueEyes.mp3")"></audio>
            <div class="songtitle">Song title</div>
            
            <div class="play">
                PLAY
            </div>
            <div class="stop">
                STOP
            </div>
            <div class="next">
                NEXT
            </div>
            <div class="slider">

            </div>
        </div>
    </div>
</div>
