html, body {
    height: 100%;
}

body {
    margin: 0;
    background-image:url("../Content/Images/Background.jpg");
}

a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

h1, h2, h3, p {
    color:inherit;
}

.white-background {
    background-color: rgba(250,250,250,0.3);
}

.content-wrapper {
    width: 100%;
    height: inherit;
    height: 85px;
}

.float-left {
    margin:0;
    padding-left:50px;
    float: left;
}

.float-right {
    margin:0;
    float: right;
    padding-right:50px;
}

.center {
     margin-left:auto;
     margin-right:auto;
}

/*Header*/

#login{
    margin:0;
    height: 25px;
}

#menu {
    height: 60px;
    display: block;
    border: 0;
    list-style-type: none;
}

ul#menu {
    margin: 0 0 0px;
    padding: 0;
    text-align: right;
}

ul#menu li {
    color: #ffffff;
    display: inline;
    list-style: none;
    padding-left: 15px;
}

ul#menu li > a {
    color:inherit;
}

/*Body*/

#body {
    margin-top:20px;
    margin-bottom:20px;
    height:100%;
    width:1280px;
    color: white;

}

#links {
    display:inline-block;
}

#links > a {
    margin-left:10px;
    margin-right: 10px;
}

/*Footer*/

footer {
    color:white;
}

/*Music Editor*/

.toolbar {
    height:85px;
}

.panel.mano {
    background-color: #333;
    color: white;
    border-color: #008cba;
}

.panel.mano h5, .panel.mano p {
    color:inherit;
}

a.th {
    border: solid 4px #333;
}

#currentTimeSlider
{
    margin-bottom:15px;
    margin-top:15px;
}

#File{
    display:none;
}

/* ---------------selectable----------------- */

#feedback { 

}

#selectable .ui-selecting { 
    background: #FECA40; 

}

  #selectable .ui-selected { 
      background: #F39814;
       color: white;
  }

  #selectable {
       list-style-type: none;  
       width: 100%; 

  }

  #selectable li, ol { 
       color: white;
       background: inherit;
       margin-left:0;
  }
  /*-----------------------------------------------------------------------------*/

  input#File {
    width: 102px;
    overflow:hidden;
}

#button-to-edit{

}

.f-dropdown {
    width:auto;
    border:none;
    margin-top:0px;
    background:none;
    max-width: 70px;
}

.button{
    margin:0;
}

.button-group{
    margin:10px;
}

.soundTrackBox{
    border: 1px solid red;
    padding: 3px 4px;
    display: inline-block;
    clear:both;
}


/* Styles for song list*/

#song-list li {
    padding: 3px 5px;
    overflow: hidden;
}