@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h1>@ViewBag.Title</h1>
<h2 style="text-align:center;">WELCOME TO THE ONLINE MUSIC EDITOR.</h2>
<div id="links" class="center">
    <a href="@Url.Action("Index", "MusicEditor")">
        <img src="../Images/MusicEditor.jpg" alt="People dancing" />
    </a>
    <a href="@Url.Action("Index", "MusicEditor")">
        <img src="../Images/MusicEditor.jpg" alt="People dancing" />
    </a>
    <a href="@Url.Action("Index", "MusicEditor")">
        <img src="../Images/MusicEditor.jpg" alt="People dancing" />
    </a>
</div>

